# Database
DATABASE_URL=postgresql://username:password@localhost:5432/teravibes_carpool

# Magic Link Authentication
MAGIC_SECRET_KEY=sk_live_93766ADE43525EAF
NEXT_PUBLIC_MAGIC_PUBLISHABLE_KEY=pk_live_A82F5E23F8307104
# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_key
